<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.boys.fishing.reservation.dao.ReserDAO">

	
	<select id="findShip" resultType="reser" >
		SELECT * FROM operrange op LEFT OUTER JOIN ship s ON (op.s_num = s.s_num)
		LEFT OUTER JOIN shipIMG simg ON (op.s_num = simg.s_num)
		WHERE op.op_date >= SYSDATE AND op.i_num = #{param1}
	</select> 
	<!-- 유저 달력 예약 정보를 가져온다. -->
	<select id="user_reser" resultType="reser">
		SELECT ri_num, ri_userid, ri_code, s_num, ri_date FROM reserINFO
		WHERE ri_userid = #{param1}
	</select>
	
	<select id="detail_island" resultType="apis" parameterType="String">
		SELECT * FROM island WHERE i_num = #{param1}
	</select>

</mapper>
