<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.boys.fishing.user.dao.UserDAO">

<select id="myUserInfo" parameterType="String" resultType="userInfo">
	SELECT * FROM userInfo WHERE u_userid = #{u_userid}
</select>











<select id="sumsumlist" resultType="sumsum">
	SELECT * FROM (SELECT ROW_NUMBER() OVER(ORDER BY B_num DESC) 
AS rnum, b_num, b_userid, b_subject, b_regdate FROM board WHERE b_userid = #{param2} AND b_code = 'B001') WHERE rnum BETWEEN #{param1} AND #{param3}
</select>

<select id="infoList" resultType="sumsum">
	SELECT * FROM (SELECT ROW_NUMBER() OVER(ORDER BY B_num DESC) 
AS rnum, b_num, b_userid, b_subject, b_regdate FROM board WHERE b_userid = #{param2} AND b_code = 'B003') WHERE rnum BETWEEN #{param1} AND #{param3}
</select>

<select id="revList" resultType="sumsum">
	SELECT * FROM (SELECT ROW_NUMBER() OVER(ORDER BY B_num DESC) 
AS rnum, b_num, b_userid, b_subject, b_regdate FROM board WHERE b_userid = #{param2} AND b_code = 'B002') WHERE rnum BETWEEN #{param1} AND #{param3}
</select>

<select id="totalPage" resultType="int">
SELECT COUNT(b_num) FROM board WHERE b_userid = #{param1} AND b_code = #{param2}
</select>





<select id="point" resultType="int">
select p_balance
from(
   select *
   from point
   order by p_regdate DESC
)
where ROWNUM = 1
</select>

<insert id="pointCharge">
INSERT INTO point(p_userid, p_content, p_otherid, p_cost, p_balance) VALUES(#{param3}, 'PNT_001', #{param3}, #{param2}, #{param1})
</insert>

<insert id="pointWithdraw">
INSERT INTO point(p_userid, p_content, p_otherid, p_cost, p_balance) VALUES(#{param3}, 'PNT_002', #{param3}, #{param2}, #{param1})
</insert>


<select id="pointHistoryList" resultType="userInfo">
select * FROM (SELECT ROW_NUMBER() OVER(ORDER BY p_regdate DESC)
AS rnum, p_content, p_regdate, p_cost, p_balance FROM point WHERE p_userid = #{param2}) WHERE rnum BETWEEN #{param1} AND #{param3}
</select>

<select id="totalPageP" resultType="int">
SELECT COUNT(p_userid) FROM point WHERE p_userid = #{param1}
</select>






<select id="overCheck" resultType="int">
	SELECT COUNT(U_userid) FROM userinfo WHERE ${param1} = #{param2}
</select>

<insert id="join" parameterType="userInfo">
	INSERT INTO userInfo VALUES (#{u_userid},#{u_userpw},#{u_userphonenum},#{u_useremail},#{u_usernickname},'N',#{u_kakaoYN},'N',SYSDATE)
</insert>

<insert id="userProfile" parameterType="String">
	INSERT INTO userIMG VALUES (#{param1}, #{param2})
</insert>

<select id="login" parameterType="String" resultType="HashMap">
	SELECT u.U_userid, u.U_userpw, u.U_usernickname, u.U_managerYN, u.U_kakaoYN, ui.UI_name 
	FROM userInfo u LEFT OUTER JOIN userIMG ui ON u.u_userid = ui.UI_userid WHERE u.U_userid = #{param1}
</select>

<select id="lookUp" resultType="int">
	SELECT COUNT(k_key) FROM kakaoUser WHERE k_key = #{param1}
</select>

<insert id="kakaoJoin" parameterType="userInfo">
	INSERT INTO kakaoUser VALUES (#{u_userid},#{u_userpw},#{u_userphonenum},#{u_useremail})
</insert>

</mapper>