<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.boys.fishing.board.dao.BoardDAO">

	<select id="qna" resultType="hashmap">
		SELECT q.*, u.u_usernickname FROM qna q INNER JOIN userinfo u ON q.q_writer = u.u_userid ORDER BY q.q_num DESC
	</select>
	
	<insert id="QNAwrite" parameterType="sumsum">
		INSERT INTO qna VALUES (q_num_seq.NEXTVAL, #{q_writer}, #{q_subject}, #{q_content}, SYSDATE, 'N', #{q_blindYN}, '')
	</insert>
	
	
	
	<insert id="someWrite" 
	parameterType="sumsum"
	useGeneratedKeys="true" 
	keyColumn="b_num" 
	keyProperty="b_num"
	>
		INSERT INTO board VALUES(b_num_seq.NEXTVAL, #{fish} , #{b_subject}, #{b_content}, SYSDATE, #{b_userid}, #{b_code}, 'N')
	</insert>
	
	
	<select id="someTalkList" resultType="sumsum">
		SELECT DISTINCT b.b_num, b.*, u.u_usernickname, bi.bi_name, ui.ui_name FROM board b 
		INNER JOIN userinfo u ON u.u_userid = b.b_userid
		LEFT OUTER JOIN userimg ui ON u.u_userid = ui.ui_userid
		LEFT OUTER JOIN boardimg bi ON b.b_num = bi.bi_num WHERE b.b_code = #{param1} AND b_blindyn = 'N' AND u.u_userdelyn = 'N' ORDER BY b.b_num DESC
	</select>
	
	
	
	
	
	
	<select id="fish" resultType="String">
		SELECT * FROM fishes
	</select>
	
	
	
	
	
	
	<insert id="someImgUpload" parameterType="hashmap">
			INSERT INTO boardIMG VALUES (#{param1}, #{param2})
	</insert>
	
	
	<select id="someDetail" resultType="sumsum">
		SELECT b.*, u.u_usernickname FROM board b INNER JOIN userinfo u ON b.b_userid = u.u_userid 
		LEFT OUTER JOIN userimg ui ON u.u_userid = ui.ui_name
		WHERE b_num = #{param1}
	</select>
	
	
	<select id="fileList" resultType="sumsum">
		SELECT * FROM boardimg WHERE bi_num = #{param1}
	</select>
	
	<delete id="fileDel">
		DELETE FROM boardimg WHERE bi_num = #{param1}
	</delete>
	
	<update id="someUpdate" parameterType="sumsum">
		UPDATE board SET 
		fish = #{fish}
		b_subject = #{b_subject}
		b_code = #{b_code}
		b_content = #{b_content}
		b_regdate = SYSDATE
		WHERE b_num = #{b_num}
	</update>
	
	<delete id="someDelete">
		DELETE FROM board WHERE b_num = #{param1}
	</delete>
	 
	<!-- qna 답변 넣기 -->
	<update id="qnaanswer">
	UPDATE QNA SET q_answercon = #{param1},q_answernum = 'Y' WHERE q_num = #{param2}
	</update>
	
</mapper>