<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.boys.fishing.board.dao.BoardDAO">

	<select id="qna" resultType="hashmap">
		SELECT q.*, u.u_usernickname FROM qna q INNER JOIN userinfo u ON q.q_writer = u.u_userid ORDER BY q.q_num DESC
	</select>
	
	<insert id="QNAwrite" parameterType="sumsum">
		INSERT INTO qna VALUES (q_num_seq.NEXTVAL, #{q_writer}, #{q_subject}, #{q_content}, SYSDATE, 'N', #{q_blindYN}, '')
	</insert>
</mapper>