<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.boys.fishing.apis.dao.ApisDAO">

<!-- 섬 정보를 검색한다. -->

<select resultType="apis" parameterType="hashmap" id="reserResearch">select i_name, i_num from island where i_name LIKE '%'||#{searchData}||'%' </select>

<!-- 모든 섬들의 정보를 담아서 가져온다. -->

<select resultType="apis" id="islandsList">
	SELECT rnum,i_num ,TRIM(i_name) AS i_name, i_controlnum, i_jibeon, i_distance, i_distanceex, i_islandmanage, i_latitude, i_longitude FROM( SELECT ROW_NUMBER() OVER(ORDER BY i_num ASC) AS rnum,i_num, TRIM(i_name) as i_name, i_controlnum, i_jibeon, i_distance, i_distanceex, i_islandmanage, i_latitude, i_longitude FROM island WHERE i_islandmanage='이용가능' OR i_islandmanage='개발가능') ORDER BY rnum DESC 
</select>

<delete parameterType="int" id="islanddel">DELETE FROM island WHERE i_sido is null </delete>

<select resultType="int" id="islandcnt">select count(i_num) from island </select>

<!-- 섬 이름 가져오기 -->


<select resultType="apis" id="getIslandName">SELECT * FROM island WHERE i_num = #{param1} </select>

<delete id="todayweatherdel">delete from todayweather </delete>

<delete id="weatherdel">delete from weather </delete>

<!-- 오늘 날씨 -->
<select id="todayweatherlist" resultType="hashmap">
SELECT * FROM (SELECT ROWNUM AS NUM, todayweather.* FROM todayweather order by tw_date asc) WHERE NUM BETWEEN 1 AND 1
</select>
<!-- 내일 날씨 -->
<select id="tomorrowweatherlist" resultType="hashmap">
SELECT * FROM (SELECT ROWNUM AS NUM, todayweather.* FROM todayweather order by tw_date asc) WHERE NUM BETWEEN 2 AND 2
</select>

<!-- 3일 뒤 날씨 -->
<select id="thirddayweatherlist" resultType="hashmap">
SELECT * FROM (SELECT ROWNUM AS NUM, weather.* FROM weather order by w_date asc) WHERE NUM BETWEEN 1 AND 1
</select>

<!-- 4일 뒤 날씨 -->
<select id="fouthdayweatherlist" resultType="hashmap">
SELECT * FROM (SELECT ROWNUM AS NUM, weather.* FROM weather order by w_date asc) WHERE NUM BETWEEN 2 AND 2
</select>

<!-- 5일 뒤 날씨 -->
<select id="fifthdayweatherlist" resultType="hashmap">
SELECT * FROM (SELECT ROWNUM AS NUM, weather.* FROM weather order by w_date asc) WHERE NUM BETWEEN 3 AND 3
</select>

<!-- 6일 뒤 날씨 -->
<select id="sixthdayweatherlist" resultType="hashmap">
SELECT * FROM (SELECT ROWNUM AS NUM, weather.* FROM weather order by w_date asc) WHERE NUM BETWEEN 4 AND 4
</select>

<!-- 7일 뒤 날씨 -->
<select id="seventhdayweatherlist" resultType="hashmap">
SELECT * FROM (SELECT ROWNUM AS NUM, weather.* FROM weather order by w_date asc) WHERE NUM BETWEEN 5 AND 5
</select>






</mapper>