<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.boys.fishing.apis.dao.ApisDAO">
	<!-- 섬 정보를 검색한다. -->
	<select id="reserResearch" parameterType="hashmap"
		resultType="apis">
		select i_name, i_num from island where i_name LIKE '%'||#{searchData}||'%'
	</select>
	<!-- 모든 섬들의 정보를 담아서 가져온다. -->
	<select id="islandsList" resultType="apis">
		SELECT rnum,i_num ,TRIM(i_name) AS i_name, i_controlnum, i_jibeon, i_distance, i_distanceex, i_islandmanage
FROM( SELECT ROW_NUMBER() OVER(ORDER BY i_num ASC) AS rnum,
i_num, TRIM(i_name) as i_name, i_controlnum, i_jibeon, i_distance, i_distanceex, i_islandmanage
FROM island) ORDER BY rnum DESC
	</select>
</mapper>